
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.wdvrpmgiypvbgindfwvi:VQAxh0dOgFzo2NY0@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.wdvrpmgiypvbgindfwvi:VQAxh0dOgFzo2NY0@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
# Next.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=sua_chave_secreta_aqui

# App Configuration
REPORTS_STORAGE_PATH="./public/reports"
NODE_ENV="development"

# API Keys (para autenticação da API externa)
# Adicione suas chaves personalizadas aqui se necessário
# API_KEYS="key1,key2,key3" 

# API Configuration
API_BASE_URL=http://localhost:3000/api/v1


